.loginPage {
  background: #111;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.loginForm {
  background-color: rgba(1, 32, 93, 0.6);
  color: white;
}

.employee_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.empImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
